{% extends 'base.html' %}

{% block content %}

  <main class="px-3">
    <div>
    <h1>Integrated Text Summarizer</h1>
    <br><br><br>
    <p class="lead w-75 m-auto mb-3">Welcome to Integrated Text Summarizer, your ultimate destination for concise insights from articles, YouTube transcripts, and PDF documents. Harnessing the power of both abstractive and extractive summarization techniques, we distill complex information into digestible summaries, saving you time and effort while ensuring you stay informed. Whether you're a busy professional, a curious learner, or someone seeking quick access to key points, SummarizeIt is your go-to solution. Say goodbye to information overload and hello to streamlined understanding. Dive in and discover the essence of any content with ease.</p>
    <p class="lead">
      <a href="https://en.wikipedia.org/wiki/Automatic_summarization" target="_blank" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </div>
  </main>

  {% endblock %}